---
import { getBlogs, getBlogDetail } from '../library/microcms'
const response2 = await getBlogs({ fields: ["id", "title", "image", "tags", "publishedAt", "name"] })
export async function getStaticPaths(){
    const response = await getBlogs({fields: ["id"]})
    return response.contents.map((content)=>({
        params:{
            blogId: content.id
        }
    }))
}
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId);
const blog_url = "https://tat-design22444.com/"+blog.id+"/"
const sns_share = "https://twitter.com/share?"+blog_url+blog.id+"/"+"text="+blog.title
                            // text=リンクテキスト" 
                            //   rel="nofollow" 
                            //   target="_blank"
                             


import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';
import BlogList from '../components/blogList.astro';
import '../css/blogId/anim-blogid.css'
import '../css/blogId/blogid.css'
---

<Layout 
    title={blog.title}  
    URL = {blog_url}
    ogptitle={blog.title}  
    description={blog.title}  
    sns_img={blog.image.url}
    type="website"
>
</Layout>

<nav class="pan">
    <ol class="pan-list">
        <li class="pan-list__item">
            <a href="https://tat-design22444.com/" class="pan-list__link">トップ</a>
        </li>
        <li class="pan-list__item">
            <a href="https://tat-design22444.com/blogs/" class="pan-list__link">ブログ一覧</a>
        </li>
        <li class="pan-list__item" id="js-pan-label">
            {blog.title}
        </li>
    </ol>
</nav>

<main>
    <article class="article">
        <div class="inner inner--article">
            <div class="article__container">
                <section class="article-main">
                    <img class="article__thumbnail" src={blog.image.url} alt=""  />
                    <div class="article__data">
                        <p class="article__name">作者 : {blog.name}</p>
                        <div class="article__times">
                            <p class="article__publish">
                                <time datetime={blog.publishedAt.substring(0, 10)}>公開日 : {blog.publishedAt.substring(0, 10)}</time>
                            </p>
                            <p class="article__updated">
                                <time datetime={blog.updatedAt.substring(0, 10)}>最終更新日 : {blog.updatedAt.substring(0, 10)}</time>
                            </p>
                        </div>
                    </div>
                    <h1 class="article__title">{blog.title}</h1>
                    <div class="article__text article__text--intro" set:html={blog.intro} />
                   
                    <div class="article-index">
                        <div class="article-index__inner">
                            <div class="article-index__container">
                                <h3 class="article-index__title">目次</h3>
                                <ol class="article-index__list" id="js-article-list">
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="article__text" id="js-article__text" set:html={blog.content} />
                    <button class="article__share">
                        <a href={sns_share}
                              rel="nofollow noopener" 
                              target="_blank"
                              >Xでシェア
                        </a>
                    </button>
                </section>
                <aside class="article-aside">
                    <div class="article-aside__inner">
                        <div class="article-aside__container">
                            <h3 class="article-aside__title">目次</h3>
                            <ol class="article-aside__list" id="js-article-list">
                            </ol>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </article>

    <div class="blog">
        <div class="inner inner--blog">
            <div class="blog-contents">
                <a href="/blogs" class="blog-contents__page-back">ブログ一覧に戻る</a>
                <BlogList />
            </div>
        </div>
    </div>
</main>

<Footer />

<style lang="scss">
    .header{
        display: none;
    }
</style>

<script>
    const pan_label = document.getElementById('js-pan-label')
	const str = pan_label.textContent
	const len = 16
	if(str.length > len) {
		pan_label.textContent = str.substring(0, len) + "..."
	}

    document.querySelectorAll('#js-article__text').forEach((article_text)=>{
        const hTag = article_text.querySelectorAll('h2')
        // const article_list = document.getElementById('js-article-list')
        document.querySelectorAll('#js-article-list').forEach((article_list)=>{
        let h2Count = 1
        // console.log(artile_list)
        for (let i = 0; i < hTag.length; i++) {
            const hTagElem = hTag[i]
            if (hTagElem.tagName == "H2") {
                const aside_li = document.createElement("li")
                const aside_aTag = document.createElement("a")
                const aside_Nestlist = document.createElement("ol")
                // aside_Nestlist.classList = `article_list${h2Count}`
                aside_aTag.textContent = hTagElem.textContent
                aside_aTag.href = "#"+hTagElem.id;
                article_list.appendChild(aside_li)
                aside_li.appendChild(aside_aTag)
                aside_li.appendChild(aside_Nestlist)
                aside_aTag.classList.add("article-aside__link")
                h2Count++

                // console.log(hTag[1])

                window.addEventListener('scroll', ()=>{
                    if(hTagElem.getBoundingClientRect().top < 280) {
                        aside_aTag.classList.add("article-aside__link--in")
                        aside_aTag.classList.remove("article-aside__link--out")
                    } else {
                        aside_aTag.classList.add("article-aside__link--out")
                        aside_aTag.classList.remove("article-aside__link--in")
                    }
                })

            } else {
                // const aside_li = document.createElement("li")
                const aside_aTag = document.createElement("a")
                aside_aTag.textContent = hTagElem.textContent
                aside_aTag.href = "#"+hTagElem.id;
                // const aside_Nestlist = document.querySelector(`.artile_list${h2Count-1}`)
            }
        }
    })
    })
</script>