---
import { getBlogs} from '../library/microcms'
const response = await getBlogs({ fields: ["id", "title", "image", "tags", "publishedAt"] })



import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';

import '../css/blog/anim-blog.css'
import '../css/blog/blog.css'
---

<Layout title="blog" />

<main>
    <div class="top">
        <div class="top__wrapper">
            <h1 class="top__title">TaT-Blog</h1>
            <h2 class="top__sub-title">Design / Coding / Website</h2>
        </div>
    </div>

    <article class="course">
        <div class="inner inner--course">
            <h2 class="course__title">Course</h2>
            <h3 class="course__sub-title"></h3>
            <section class="course-contents">
                <ul class="course-contents__list">
                    <li class="course-contents__item">
                        <a href="/" class="course-contents__link">
                            <img class="course-contents__thumbnail" src="../../images/me.JPG" alt="">
                            <h3 class="course-contents__title">ここにテキスト</h3>
                        </a>
                    </li>
                    <li class="course-contents__item">
                        <a href="/" class="course-contents__link">
                            <img class="course-contents__thumbnail" src="../../images/HAMORI.jpg" alt="">
                            <h3 class="course-contents__title">ここにテキスト</h3>
                        </a>
                    </li>
                    <li class="course-contents__item">
                        <a href="/" class="course-contents__link">
                            <img class="course-contents__thumbnail" src="../../images/me.JPG" alt="">
                            <h3 class="course-contents__title">ここにテキスト</h3>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </article>
    
    <article class="blog">
        <div class="inner inner-blog">
            <h2 class="blog__title">Blog</h2>
            <h3 class="blog__sub-title"></h3>
            <section class="blog__container">
                <nav class="blog-nav">
                    <ul class="blog-nav__list">
                        {response.contents.map((nav => 
                            <li class="blog-nav__list">
                                <a class="blog-nav__link active-blog-nav" href={nav.id}>{nav.tags.Figma}</a>
                            </li>
                        ))}
                        <!-- <li class="blog-nav__list">
                            <a class="blog-nav__link active-blog-nav" href="/">All</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">HTML/CSS</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">UI</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">Figma</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">Figma</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">Figma</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">Figma</a>
                        </li>
                        <li class="blog-nav__list">
                            <a class="blog-nav__link" href="/">Figma</a>
                        </li> -->
                    </ul>
                </nav>
                <div class="blog-contents">
                    <ul class="blog-contents__list">
                        {response.contents.map((content => 
                            <li class="blog-contents__item">
                                <a class="blog-contents__link" href={content.id} target="_blank">
                                    <img class="blog-contents__thumbnail" src={content.image.url} alt="" />
                                    <h3 class="blog-contents__title">{content.title}</h3>
                                    <div class="blog-contents__tags">
                                        <p class="blog-contents__tag">UI</p>
                                        <p class="blog-contents__tag">Figma</p>
                                    </div>
                                    <time class="blog-contents__time">{content.publishedAt.substring(0, 10)}</time>
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            </section>
        </div>
    </article>

</main>

<Footer />

