---
const {title} = Astro.props
const nav = [
    {
        href: '/',
        label: 'home'
    },
    {
        href: '/about',
        label: 'about'
    },
    {
        href: '/works/hamori',
        label: 'works'
    },
    {
        href: '/blog',
        label: 'blog'
    },
    {
        href: '/contact',
        label: 'contact'
    }
];

import '../css/top/style.css'
---

<!DOCTYPE html>
<html lang="ja">
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" rel="stylesheet"/>
	<link rel="stylesheet" href="src/css/inner/inner.css">
	<link rel="stylesheet" href="src/css/root/root.css">
	<title>{title}</title>
</head>
<body>
	<header class="header" id="header">
	    <div class="inner inner--header">
			<h2 class="header__logo">{title}</h2><!--{title}-->
			<nav class="header-nav">
				<ul class="header-nav__list">
					{nav.map((item)=>
						<li class="header-nav__item"><a class:list="header-nav__link c-black" href={item.href}>{item.label}</a></li>
					)}
				</ul>
			</nav>
			<span class="header-ham">
				<span class="header-ham__elem"></span>
				<span class="header-ham__elem"></span>
				<span class="header-ham__elem"></span>
			</span>
        </div>

		<div class="header-mordal">
		    
		</div>
		<!-- <div class="header-mordal-back"></div> -->
    </header>

	<footer class="footer" id="footer">
        <div class="inner inner--footer">
            <small class="copy">&copy; 2023 Tatsuya Aihara</small>
            <p class="footer__page-top" id="js-page-top">
                page top
            </p>
        </div>
    </footer>

</body>

<style lang="scss">
	body{
		background-color: var(--color-bg-black);
		color: var(--color-white);
		font-family: var(--font-family-en);
	}
    .header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
		align-items: center;
		color: var(--color-white);
        background-color: transparent;
        mix-blend-mode: difference;
		z-index: 99;

        &-nav{
            display: none;

			@media screen and (min-width:1024px) {
                display: block;
            }

            &__list{
                display: flex;
                justify-content: space-between;
                column-gap: 24px;
                align-items: center;
				font-size: .8rem;
            }

			&__link{
				display: block;
                opacity: 1;
                transition: all .3s;
			}
        }

		&-ham{
			display: flex;
			flex-direction: column;
			gap: 8px;
			align-items: center;
			cursor: pointer;

			@media screen and (min-width:1024px) {
                display: none;
            }

			&__elem{
				width: 32px;
				height: 2px;
				border-radius: 10px;
				color: var(--color-white);
			}
		}

		&-mordal{

			&-back{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: var(--color-bg-white);
				opacity: .5;
				z-index: -1;
			}
		}

        &__logo{
            font-weight: bold;
        }
    }

	main{
		overflow-x: hidden;
	}

	.footer{
        width: 100%;
        font-family: 'Noto Sans JP', sans-serif;
        // color: $color__black;
        // background-color: $bg-color__gray;

        &__page-top{
            position: absolute;
            right: 4vw;
            bottom: 20px;
            // font-size: $font-size--smallest;
            cursor: pointer;
        }
    }
</style>
</body>
</html>