---
const {title} = Astro.props
const nav = [
    {
        href: '/',
        label: 'home'
    },
    {
        href: '/about',
        label: 'about'
    },
    {
        href: '/works/hamori',
        label: 'works'
    },
    {
        href: '/blog',
        label: 'blog'
    },
    {
        href: '/contact',
        label: 'contact'
    }
];

// import '../css/top/style.css'
import '../css/inner/inner.css'
import '../css/root/root.css'
import '../css/layouts/anim-layout.css'
import '../css/layouts/layout.css'
import '../script/layouts/layout.js'
---

<!DOCTYPE html>
<html lang="ja">
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" rel="stylesheet"/>
	<link rel="stylesheet" href="src/css/inner/inner.css">
	<link rel="stylesheet" href="src/css/root/root.css">
	<title>{title}</title>
</head>
<body>
	<header class="header" id="header">
	    <div class="inner inner--header">
			<h2 class="header__logo">{title}</h2><!--{title}-->
			<nav class="header-nav">
				<ul class="header-nav__list">
					{nav.map((item)=>
						<li class="header-nav__item"><a class:list="header-nav__link c-black" href={item.href}>{item.label}</a></li>
					)}
				</ul>
			</nav>
			<span class="header-ham" id="js-ham">
				<span class="header-ham__elem" id="js-ham__item1"></span>
				<span class="header-ham__elem" id="js-ham__item2"></span>
				<span class="header-ham__elem" id="js-ham__item3"></span>
			</span>
        </div>

		<div class="header-mordal ds-none" id="js-mordal">
		    
		</div>
		<!-- <div class="header-mordal-back"></div> -->
    </header>

</body>

<style lang="scss">
	
</style>

<script>
	const ham = document.getElementById('js-ham')
	const mordal = document.getElementById('js-mordal')
	const ham_item1 = document.getElementById('js-ham__item1')
    const ham_item2 = document.getElementById('js-ham__item2')
    const ham_item3 = document.getElementById('js-ham__item3')
	ham.addEventListener('click', ()=>{
		if (mordal.classList.contains('ds-none') === true) {
			mordal.classList.remove('ds-none')
            mordal.classList.add('ds-block')
			ham_item1.classList.add('anim-ham__item1--rotate-45')
			ham_item1.classList.remove('anim-ham__item1--rotate-0')
		    ham_item2.classList.add('anim-ham__item2--op-0')
			ham_item2.classList.remove('anim-ham__item2--op-1')
		    ham_item3.classList.add('anim-ham__item3--rotate-45')
			ham_item3.classList.remove('anim-ham__item3--rotate-0')
		} else if (mordal.classList.contains('ds-block') === true) {
			mordal.classList.add('ds-none')
            mordal.classList.remove('ds-block')
			ham_item1.classList.remove('anim-ham__item1--rotate-45')
			ham_item1.classList.add('anim-ham__item1--rotate-0')
		    ham_item2.classList.remove('anim-ham__item2--op-0')
			ham_item2.classList.add('anim-ham__item2--op-1')
		    ham_item3.classList.remove('anim-ham__item3--rotate-45')
			ham_item3.classList.add('anim-ham__item3--rotate-0')
		}
	})
</script>

</html>